@charset "utf-8";
/* CSS FOr the Contact form of Freakify.com */
 


 

body  {



    

	font-size:100%;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#3a3a3a;
}

.body{

    
	width:498px;
	margin:0 auto;
	display:block;
}

h1 {
	width:498px;
	height:64px;
	background:url(images/bg.jpg);
	color:#fff;
	font-family:bebas;
	padding:17px 0px 0px 78px;
	letter-spacing:3px;
	font-size:2.2em;
	margin:0 auto;
}

form {
      
     
	
	
	
	width:498px;
	margin:0 auto;
}

label {
	display:block;
	margin-top:5px;
	letter-spacing:2px;
}

input, textarea {
	width:100px;
	height:10px;
	background:#efefef;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

	input:focus, textarea:focus {
		border:1px solid #97d6eb;
	}

textarea {
	height:213px;
	font-family:Arial, Helvetica, sans-serif;
	background:url(images/textarea-bg.jpg) right no-repeat #efefef;
}

#submit {
	background:url(images/submit.jpg);
	width:127px;
	height:38px;
	text-indent:-9999px;
	border:none;
	margin-top:20px;
	cursor:hand;
}

	#submit:hover {
		opacity:0.9;
	}

footer a  {
	border:none;
	float:right;
	color:#97d6eb;
	margin:0px 59px 40px 0px;
}