/* The containing DIV element for the Calendar */
#dpCalendar {
  display: none;          /* Important, do not change */
  position: absolute;      /* Important, do not change */
  background-color: #eeeeee;
  color: black;
  font-size: xx-small;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  width: 150px;
  
}
/* The table of the Calendar */
#dpCalendar table {
  border: 1px solid black;
  background-color: #eeeeee;
  color: black;
  font-size: 14px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  width:300px;
  
}
/* The Next/Previous buttons */
#dpCalendar .cellButton {
  background-color: #C6D7F3;
  color: black;
  font-weight:bold
}
/* The Month/Year title cell */
#dpCalendar .cellMonth {
  background-color: #C6D7F3;
  color: black;
  text-align: center;
}
/* Any regular day of the month cell */
#dpCalendar .cellDay {
  background-color: #FFFFFF;
  color:#1B75BB; 
  text-align: center;
}
/* The day of the month cell that is selected */
#dpCalendar .cellSelected {
  border: 1px solid red;
  background-color: #ffdddd;
  color: black;
  text-align: center;
}
/* The day of the month cell that is Today */
#dpCalendar .cellToday {
  background-color:#B5D758;
  color: black;
  font-weight:bold;
  text-align: center;
}
/* Any cell in a month that is unused (ie: Not a Day in that month) */
#dpCalendar .unused {
  background-color: transparent;
  color: black;
  
}
/* The cancel button */
#dpCalendar .cellCancel {
  background-color: #cccccc;
  color: black;
  border: 1px solid black;
  font-weight:bold;
  text-align: center;
}
/* The clickable text inside the calendar */
#dpCalendar a {
  text-decoration: none;
  background-color: transparent;
  color: #1B75BB;
} 
.title
 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:24px;
 text-align:right;
 padding-right:25px;
 color:#1B75BB; 	
 }
 .data
 {
 text-align:right;	
 }
 div.overall {
	width:980px;
	margin:0 auto;
}
div.borders {
	width:974px;
	border-right:3px solid #336699;
	border-left:3px solid #336699;
	border-top:18px solid #93b83b;
	border-bottom:3px solid #336699;
	float:right;
} 
th {
	background-color:#93B83B;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif
	
}
 ul,li {list-style: none;}
